@font-face {
  font-family: Butler_Black;
  src: url("../../assets/fonts/Butler/Butler_Black.otf") format("opentype");
}

@font-face {
  font-family: Butler_Bold;
  src: url("../../assets/fonts/Butler/Butler_Bold.otf") format("opentype");
}

@font-face {
  font-family: Butler_ExtraBold;
  src: url("../../assets/fonts/Butler/Butler_ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Butler_Light;
  src: url("../../assets/fonts/Butler/Butler_Light.otf") format("opentype");
}

@font-face {
  font-family: Butler_Medium;
  src: url("../../assets/fonts/Butler/Butler_Medium.otf") format("opentype");
}

@font-face {
  font-family: Butler_Regular;
  src: url("../../assets/fonts/Butler/Butler_Regular.otf") format("opentype");
}

@font-face {
  font-family: Butler_Ultra_Light;
  src: url("../../assets/fonts/Butler/Butler_Ultra_Light.otf")
    format("opentype");
}
// butler Stencil
@font-face {
  font-family: Butler_Black_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Black_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_Bold_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Bold_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_ExtraBold_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_ExtraBold_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_Bold_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Light_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_Medium_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Medium_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_Regular_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Regular_Stencil.otf")
    format("opentype");
}

@font-face {
  font-family: Butler_Ultra_Light_Stencil;
  src: url("../../assets/fonts/Butler_Stencil/Butler_Ultra_Light_Stencil.otf")
    format("opentype");
}
